@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

/*variables*/
:root {
    --black: rgba(0, 0, 0, 1);
    --alto: rgba(217, 217, 217, 1);
    --black-haze: rgba(247, 247, 247, 1);
    --heat-wave: rgba(255, 122, 0, 1);
    --white: rgba(255, 255, 255, 1);

    --font-size-small: 15px;
    --font-size-medium: 18px;
    --font-size-large: 20px;
    --font-size-xlarge: 25px;
    --font-size-xxlarge: 30px;
    --font-size-xxxlarge: 130px;

    --font-family-inter: "Inter", sans-serif;
    --font-family-inter-bold: "Inter-Bold", sans-serif;
    --font-family-inter-light: "Inter-Light", sans-serif;
}

/*classes*/
.inter-normal-black-15px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-small);
    font-weight: 400;
    font-size: normal;
}

.inter-normal-black-20px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-large);
    font-weight: 400;
    font-size: normal;
}

.inter-normal-heat-wave-20px {
    color: var(--heat-wave);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-large);
    font-weight: 400;
    font-style: normal;
}

.desktop-1 {
    align-items: center;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 51px;
    height: 1024px;
    overflow: hidden;
    width: 1440px;
}

.hidden, .hidden * {
    pointer-events: none;
    visibility: hidden;
}

.overlap-group-container {
    position: relative;
    width: 1361px;
    height: 816px;
    margin-left: 21.18px;
}

.overlap-group2 {
    height: 816px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1361px;
}

.examsbro {
    height: 816px;
    left: 596px;
    position: absolute;
    top: 0;
    width: 765px;
}

.title {
    color: transparent;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxlarge);
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 130.7px;
    position: absolute;
    top: 40px;
    width: 642px;
}

.span0 {
    color: var(--black);
}

.span1 {
    color: var(--black);
    font-weight: 700;
}

.span2 {
    color: var(--heat-wave);
    font-weight: 700;
}

.start-your-waec-test {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-medium);
    font-weight: 300;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 499px;
    width: 586px;
}

.overlap-group1 {
    align-items: center;
    background-color: #e7e7e7;
    border-radius: 53px;
    display: flex;
    gap: 96px;
    height: 87px;
    justify-content: flex-end;
    left: 0;
    min-width: 501px;
    padding: 0 1px;
    position: absolute;
    top: 686px;
}

.overlap-group5 {
    align-items: flex-start;
    background-color: var(--heat-wave);
    border-radius: 53px;
    display: flex;
    height: 35px;
    justify-content: flex-end;
    min-width: 164px;
    padding: 26px 17px;
}

.subscribe {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xlarge);
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    min-height: 30px;
    white-space: nowrap;
}

.take-a-demo-test {
    color: #999;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xlarge);
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 5px;
    min-height: 30px;
    min-width: 202px;
    white-space: nowrap;
}

.overlap-group {
    align-items: flex-end;
    background-color: var(--white);
    box-shadow: 0px -13px 33px #00000040;
    display: flex;
    height: 60px;
    margin-left: 3px;
    margin-top: -25px;
    min-width: 1453px;
    padding: 24px 55px;
}

.en {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 9px;
    margin-left: 10px;
    min-height: 18px;
    min-width: 21px;
    white-space: nowrap;
}

.overlap-group3 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--heat-wave);
    display: flex;
    height: 33px;
    margin-left: 172px;
    min-width: 96px;
    padding: 5px 19px;
}

.sign {
    letter-spacing: 0;
    line-height: normal;
    min-height: 18px;
    white-space: nowrap;
}

.eparrow-down-bold {
    height: 16px;
    margin-bottom: 9px;
    margin-left: 3px;
    width: 16px;
}

.pricing {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 6px;
    margin-left: 39px;
    min-height: 24px;
    min-width: 65px;
    white-space: nowrap;
}

.features {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 6px;
    margin-left: 205px;
    min-height: 24px;
    min-width: 82px;
    white-space: nowrap;
}

.twemojiflag-united-kingdom {
    height: 14px;
    width: 14px;
    margin-bottom: 10px;
    margin-left: 195px;
}

.overlap-group4 {
    align-items: flex-start;
    background-color: var(--heat-wave);
    display: flex;
    height: 33px;
    justify-content: flex-end;
    margin-left: 49px;
    padding: 6px 23px;
}

.help {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 6px;
    margin-left: 39px;
    min-height: 24px;
    min-width: 44px;
    white-space: nowrap;
}


.guide {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 6px;
    margin-left: 39px;
    min-height: 24px;
    min-width: 56px;
    white-space: nowrap;
}

.logo {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxlarge);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    min-height: 36px;
    min-width: 79px;
    white-space: nowrap;
    padding-left: 10px;
}

.desktop-2 {
    align-items: center;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 51px;
    height: 1024px;
    overflow: hidden;
    width: 1440px;
}

.flex-row {
    height: 836px;
    min-width: 1309px;
}

.desktop-2 .flex {
    align-items: flex-start;
    display: flex;
}

.flex-row-1 {
    align-items: flex-start;
    display: flex;
    gap: 60px;
    height: 584px;
    margin-top: 19px;
    min-width: 556px;
}

.flex-col {
    align-self: flex-end;
    flex-direction: column;
    min-height: 581px;
    width: 446px;
}

.flex-row-2 {
    align-items: flex-start;
    display: flex;
    gap: 6px;
    height: 96px;
    margin-top: 59px;
    min-width: 195px;
}

.fluentcheckmark-square-regular-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 1px;
    min-height: 92px;
    width: 20px;
}

.fluentcheckmark-square-20-regular {
    height: 20px;
    width: 20px;
    color: var(--heat-wave);
}

.questions-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 96px;
    width: 169px;
}

.waec-questions {
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px;
    width: 169px;
}

.neco-questions {
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px;
    width: 168px;
}

.gce-questions {
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px;
    width: 152px;
}

.demo {
    align-items: center;
    background-color: var(--heat-wave);
    border-radius: 5px;
    display: flex;
    height: 25px;
    margin-top: 35px;
    min-width: 140px;
    padding: 14px 17px;
}

.take-a-demo-exam {
    color: #ffffff;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-small);
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    min-height: 18px;
    white-space: nowrap;
}

.easy-to-access {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-large);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 12px;
    min-height: 48px;
    width: 439px;
}

.logosmicrosoft-icon {
    height: 45px;
    width: 45px;
    color: #757575;
}

.head {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xlarge);
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 206px;
    min-height: 30px;
    white-space: nowrap;
}

.logosmicrosoft-teams {
    height: 47px;
    width: 50px;
    color: #757575;
}

.flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 836px;
    width: 753px
}

.flex-row-3 {
    align-items: center;
    display: flex;
    gap: 60px;
    margin-left: 60px;
    min-width: 322px;
}

.microsoft-skype {
    height: 64px;
    margin-bottom: 6px;
    width: 64px;
    color: #757575;
}

.simple-iconsford {
    height: 84px;
    width: 84px;
    color: #757575;
}

.simple-iconscanva {
    height: 53px;
    margin-bottom: 5px;
    width: 54px;
    color: #757575;
}

.rectangle-6 {
    cursor: pointer;
    height: 543px;
    margin-top: 86px;
    transition: all 0.2s ease;
    width: 753px;
}

.we-are-working {
    align-self: center;
    color: #757575;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-large);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 1px;
    min-height: 24px;
    min-width: 393px;
    white-space: nowrap;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}